# Firebase
.firebase
firebase.json
database.rules.json
storage.rules

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
.env.example

# Next.js
.next/
out/
next-env.d.ts

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Usually, package-lock.json (for npm) or yarn.lock (for yarn) ARE committed.
# If you are using npm and have a specific reason not to commit package-lock.json,
# you can add it here, but it's generally recommended to commit it.
# package-lock.json

# TypeScript
*.tsbuildinfo

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Optional: Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Optional: Coverage directory
coverage
.nyc_output

# Optional: Caches
.cache
.parcel-cache

# Optional: Distribution folder
dist
build

# Optional: dotenv vault
.env.vault
